@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Fira+Code:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Momo+Trust+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --bg-color: #F0EBD8;
    --bg-aside: #1D2D44;
    --bg-main:#cfd5df33;
    --primary-color: #0D1321; 

    --color-border: #0d132115;

    --radius-card: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    overflow: hidden;

    & header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10%;
        padding: 30px 40px;
        color: var(--primary-color);
        border-bottom: 1px solid var(--color-border);

        & #logo-header{
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 10px;
            font-weight: bold;
            
           & #img-logo{
                width: 50px;
                height: 50px;
                border-radius: 10px;
                background-color: aquamarine;
                background-image: url('../assets/img/logo.png');
                background-size: cover;
                background-position: center;
            }
        }

        & #btn-mobile-menu{
            display: none;
            background: transparent;
            border: none;
            font-size: 28px;
            color: var(--primary-color);
            cursor: pointer;
        }

        & #hours-header{
            font-weight: 600;
            font-size: 15px;
        }
    } /* TERMINA ESTILIZAÇÃO DA HEADER */

    & #container-main{
        display: flex;
        height: 90%;
        overflow: hidden;

        & aside{
        width: 15%; 
        padding: 30px 20px;
        background-color: var(--bg-color);
        color: var(--primary-color); 
        overflow: hidden;
        border-right: 1px solid var(--color-border);

        
            & input, select, button{
                background-color: var(--bg-color);
                padding: 10px;
                text-align: start;
                font-size: 14px;
                font-weight: 500;
                border: 1px solid var(--color-border);
                border-radius: 7px;
                cursor: pointer;
                outline: none;
                transition: all 0.18s ease-in-out;

                &:hover{
                    border-color: rgba(13, 19, 33, 0.4);
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
                }

                &:focus{
                    border-color: var(--color-border);
                    box-shadow: 0 0 0 2px #03419750;
                }
            }
            & button, select {
                cursor: pointer;
            }

            & input {
                cursor: text;
            }

            & .label-filter{
                font-size: 16px;
                color: #0d132188;
            }

            & #search{
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
            }

            & #inp-filter{
                display: flex;
                flex-direction: column;
                gap: 10px;

            }
            & #btn-filter{
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-between;
                

                & #clear-filter{
                    width: 100%;
                    background-color: rgba(175, 4, 4, 0.726);
                    text-align: center;
                    border: none;
                    margin-top: 10px;
                    color: white;
                    cursor: pointer;
                    transition: all 0.2s ease-in;

                    &:hover{
                        transform: scale(1.05);
                    }
                }
                & #apply-filter{
                    width: 100%;
                    color: white;
                    background-color: #55cc44;
                    border: none;
                    text-align: center;
                    margin-top: 10px;
                    cursor: pointer;
                    transition: all 0.2s ease-in;

                    &:hover{
                        transform: scale(1.05);
                    }
                }
             }



            & #legend-aside{
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                & #list-legend{
                     list-style-type: none;
                    
                     & li{
                        margin-bottom: 10px;
                     }
                     
                }
                

            }
            
        }

        & main{
        width: 85%;
        padding: 20px;
        background-color: var(--bg-main);
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

            & #list-person{
                display: flex;
                justify-content: center;
                gap: 50px;
                flex-wrap: wrap;
                margin-bottom: 40px;

                & .erro-p{
                    color: red;
                    font-weight: bold;
                    font-size: 15px;
                }

                & .persons{
                    display: flex;
                    flex-direction: column;
                    width: 250px;
                    max-width: 300px;
                    height: 350px;
                    border-radius: 10px;
                    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.20);
                    transition: all 0.2s ease-in;


                    &:hover{
                        box-shadow: 0px 0px 10px 1px #034197;
                        transform: scale(1.02);
                    }

                    & .img-person{
                        width: 100%;
                        height: 70%;
                        background-color: #0b7d92;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 10px 10px 0px 0px;
                        overflow: hidden;
                        background-position: center;
                        background-size: cover;

                        /* font of card */
                        color: white;
                        font-weight: bold;
                        font-size: 20px;

                        & img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    & .info-person{
                        background-color: var(--bg-color);
                        padding: 10px 20px;
                        border-radius: 0px 0px 10px 10px;
                        height: 30%;

                        & .name-person{
                            font-size: 17px;
                            font-weight: 500;
                        }

                        & .type-person{
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            color: #0000008a;
                            font-size: 14px;
                        }
                    }
                }
            }
            & #btns{
                display: flex;
                align-items: center;
                padding: 10px 20px;
                justify-content: space-between;
                font-weight: 500;

                 & .sec-btn{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 15px;

                    & .btn-page{
                        border: none;
                        color: white;
                    background-color: var(--bg-aside);
                    padding: 6px 10px;
                    border-radius: 10px;
                    font-size: 13px;
                    font-weight: 500;
                    }
                }
                
            }
           
        }
    }

    & .status-person{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;

        &.alive{
            background-color: #55cc44;
        }
        &.dead{
            background-color: #d32f2f;;
        }
        &.unknown{
            background-color: #9e9e9e;;
        }

    }

    & #modal-person[open]{
        border: none;
        border-radius: 10px;
        margin: auto;
        width: 450px;
        height: 600px;
        display: flex;
        flex-direction: column;
        background-color: var(--bg-color);
        color: var(--primary-color);

        &::backdrop{
            background-color: #00000077;
        }

        & #img-modal{
            width: 100%;
            height: 40%;
            max-height: 40%;
            background-color: #034197;

            & img{
                width: 100%;
                height: 100%;
                background-position: center;
            background-size: cover;
            }
        }

        & #info-modal{
            height: 60%;
            padding: 30px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 10px;

            & #name-modal{
                font-size: 25px;
                font-weight: bold;
            }

            & #type-modal{
                margin-bottom: 15px;


                 & .status-modal{
                font-size: 16px;
                font-weight: 500;
                padding: 2px 5px;
                border-radius: 15px;
                
                    &.alive{
                            background-color: #54cc443f;
                            color: #55cc44;
                    }
                    &.dead{
                            background-color: #d32f2f4b;
                            color: #d32f2f;
                    }
                    &.unknown{
                            background-color: #9e9e9e3f;
                            color: #9e9e9e;
                    }
                }
            }
            
            & #gander-modal{
                font-size: 16px;
                font-weight: 500;
                color:  #00000057;
            }

            & #location-modal{
                display: flex;
                flex-direction: column;
                gap: 5px;

                & div{
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid var(--color-border);
                    padding: 5px;

                    & .left-modal{
                        font-size: 14px;
                        font-weight: 600;
                        color: #00000046;
                    }
                    & .right-modal{
                        font-size: 15px;
                        font-weight: 600;
                    }
                }
            }

            & #close-modal{
                display: flex;
                width: 100%;

                & #btn-close{
                    width: 100%;
                    padding: 10px;
                    font-size: 16px;
                    background-color: rgba(175, 4, 4, 0.726);
                    color: white;
                    border: none;
                    border-radius: 10px;
                    transition: all;
                    cursor: pointer;


                    &:hover{
                        transform: scaleX(1.01);
                        background-color: rgba(233, 10, 10, 0.726);
                    }
                }
            }
        }
    }
}
@media (max-width: 1440px) {
    body{

        & #container-main{
            & aside{
                width: 20%;
            }
            & main{
                width: 80%;

                & #list-person{
                    gap: 30px;

                    & .persons{
                        width: 200px;
                        height: 300px;
                    }
                }
            }
        }
        & #modal-person[open]{
            width: 400px;
        }
    }
}
@media (max-width: 1115px) {
    body{

        & #container-main{
            & aside{
                width: 25%;
            }
            & main{
                width: 75%;
            }
        }
    }
}
@media (max-width: 820px) {
    body{

        & header{
            display: flex;
            flex-direction: row;
            height: auto;
            padding: 15px 20px;
            

                & #hours-header{
                    display: none;
                }

            & #btn-mobile-menu{
                display: block;
            }
        
        }


        & #container-main{
            height: 85%;

            & aside{
                position: fixed;
                top: auto;
                left: 0;
                width: 60%;
                height: 85%;
                z-index: 1000;
                transform: translateX(-100%);
                transition: transform 0.3s ease-in-out;
                overflow-y: auto;

                &.open{
                    transform: translateX(0);
                }
            }
            & main{
                width: 100%;
                padding: 10px;
            }
        }
    }
}



@media (max-width: 568px) {
    body{

        & #container-main{

            & aside{
                & input, select {
                    font-size: 16px; 
                }
            }

            & main{
                & #list-person{
                    gap: 20px;

                    & .persons{
                        width: 100%;
                        max-width: 320px;
                    }

                }
                & #btns{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 15px;
                    padding: 10px 5px;

                    & .current-person{
                        font-size: 14px;
                        text-align: center;
                    }
                    & .sec-btn{
                        width: 100%;
                        justify-content: space-around;

                        & .btn-page{
                        font-size: 12px;
                        padding: 10px 15px;
                        }
                    }
                 }
            }
        }
        & #modal-person[open] {
            width: 95%; 
            height: 85%;
        }
    }
}